<!--
    
    Requires:
        tipo_cuenta:
        sucursal: 
        cuenta: account number, formatted for display
        comprobantes:
        
        forma_de_pago:
        monto: 
        numero_sobre: account number, formatted for display
        
    Optional:
        sobre:
-->

<% include chunk/header.html %>

<% include chunk/terminaldata.html %>
<hr />
<% if(receipt.intersucursal==true) { %>
    <h2>Operación Intersucursal</h2>
<% } %>
<h1>Pago de Impuestos por Autoservicio</h1>
<hr />
<table>
    <tr><td>Forma de pago:</td><td align="right"> <%- receipt.forma_de_pago %></td> </tr>
    <tr><td>Cantidad de comprobantes:</td><td align="right"> <%- receipt.comprobantes %></td> </tr>
</table>
<% if(receipt.cuenta != "") { %>
<% include chunk/account_detail.html %>
<% } %>
<table>
    <tr><td>Monto a pagar:</td><td align="right"> <%- receipt.monto %></td> </tr>
</table>

<% if(receipt.sobre==true) { %>
    <% include chunk/footer_sobre.html %>
<% } else { %>
    <% include chunk/footer_deposito.html %>
<% } %>
