<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
      <!-- AppBackgroundImage: Archivo de la imagen a utilizar. Ejemplo value="imagen.jpg" usa la ruta desde donde se ejecuto esta app. value="C:\imgdir\imagen.jpg" se define la ruta de la imagen -->
      <add key="AppBackgroundImage" value="" />
      <!-- AppCloseDelay: Tiempo de espera, luego que se cumpla alguna condicion de cierre (en segundos) ej. value="10" -->
      <add key="AppCloseDelay" value="25" />
      <!-- AppCloseTimeout: Condicion de cierre por tiempo (en segundos) ej. value="3600" -->
      <add key="AppCloseTimeout" value="3600" />
      <!-- AppCloseUserNames: Condicion de cierra por usuario logueado. ej. value="user1|user2|user3|user4" -->
      <add key="AppCloseUserNames" value="administrator|administrador|SSTAdmin1|abcdwxyz" />
      <!-- AppCloseProcesses: Condicion por aplicacion en proceso. ej. value="displaymanager|customisationlayer|chrome|kioskbrowser" -->
      <add key="AppCloseProcesses" value="displaymanager|customisationlayer|chrome|kioskbrowser" />
      <!-- Proceso a ejecutar luego de levantar la plataforma NCR (ULWAIT): -->
      <!-- AppProcessName: Nombre de la aplicacion -->
      <!-- AppProcessMessage: Leyenda de la aplicacion iniciando -->
      <!-- AppProcessFolder: Es la ruta donde se encuentra el proceso, siempre completar con "\". ej. value="C:\appdir\" -->
      <!-- AppProcessFile: Archivo a ejecutar -->
      <!-- AppProcessArgs: Argumentos si el proceso lo requiere -->
      <add key="AppProcessName" value="STARTATM" />
      <add key="AppProcessMessage" value="Iniciando NCR Application" />
      <add key="AppProcessFolder" value="C:\" />
      <add key="AppProcessFile" value="s-bat.bat" />
      <add key="AppProcessArgs" value="" />
    </appSettings>
</configuration>
