html {
    overflow: hidden;
}

@font-face { 
    font-family: 'DIN 30640 Std'; 
    src: url(/style/DIN.ttf) format("truetype"); 
} 
@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 200;
    src: local("Inter"),
    url("/style/Inter-Thin-BETA.woff") format("woff");
}

@font-face {
    font-family: "Inter2";
    font-style: normal;
    font-weight: 400;
    src: local("Inter2"),
    url("/style/Inter-ExtraLight-BETA.woff") format("woff");
}

@font-face {
    font-family: "Inter3";
    font-style: normal;
    font-weight: 400;
    src: local("Inter3"),
    url("/style/Inter-ExtraBold.woff") format("woff");
}

@font-face {
    font-family: "font4";
    font-style: normal;
    font-weight: 500;
    src: local("font4"),
    url("/style/Inter-Black.woff") format("woff");
}
@font-face {
    font-family: "font5";
    font-style: normal;
    font-weight: 500;
    src: local("font5"),
    url("/style/Inter-Bold.woff") format("woff");
}
@font-face {
    font-family: "font6";
    font-style: normal;
    font-weight: 500;
    src: local("font6"),
    url("/style/Inter-Light-BETA.woff") format("woff");
}
@font-face {
    font-family: "Inter500";
    font-style: normal;
    font-weight: 500;
    src: local("font7"),
    url("/style/Inter-Medium.woff") format("woff");
}
@font-face {
    font-family: "Inter400";
    font-style: normal;
    font-weight: 400;
    src: local("font8"),
    url("/style/Inter-Regular.woff") format("woff");
}
@font-face {
    font-family: "font9";
    font-style: normal;
    font-weight: 500;
    src: local("font9"),
    url("/style/Inter-Semi-bol.woff") format("woff");
}
* { 
    font-family: 'Inter2', 'Inter', 'DIN 30640 Std', sans-serif; 
}

body, #ScreenPanel {
    -webkit-background-size: cover;
    background-size: cover;
}

html, body { 
    margin: 0; 
    padding: 0; 
}

.bgvideo {
    position: fixed; right: 0; bottom: 0;
    width: 100% !important;
    height: 100% !important;
    z-index: 100;
}

.floatvideo {
    width: 320px; height: 240px; z-index: 0;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    
}

.video_deposita_sobre {
    content: "/video/sobre_in.ogv";
    bottom: 24%;
    right: 20%;
}

.video_deposita_efectivo {
    content: "/video/cash_in.webm";
    bottom: 19%;
    right: 35.1%;
}

.video_retira_efectivo {
    content: "/video/cash_out.webm";
    bottom: 20%;
    right: 35.1%;
}

.video_deposita_cheques {
    content: "/video/cheque_in.webm";
    bottom: 25%;
    right: 35.1%;
}

.video_retira_cheques {
    content: "/video/cheque_out.webm";
    bottom: 20%;
    right: 35.1%;
}

.video_entrega_sobre {
    content: "/video/sobre_out.ogv";
    bottom: 23%;
    right: 41.5%;
}

.video_ingreso_pin {
    content: "/video/pinpad.ogv";
    bottom: 30%;
    right: 5%;
}

.video_impresora {
    content: "/video/impresora.ogv";
    bottom: 25%;
    right: 25%;
}

.video_extraccion {
    content: "/video/extraccion.ogv";
    bottom: 25%;
    right: 25%;
}

.video_ingreso_tarjeta_motorizada {
    content: "/video/tarjeta_mot.ogv";
    right: 10%;
    bottom: 10%;
}

.video_ingreso_tarjeta_dip {
    content: "/video/tarjeta_dip.ogv";
    right: 10%;
    bottom: 10%;
}

.full {
    width: 100%;
    height: 100%;
}

div, td {
    font-size: 28px;
    text-align: center;
}

.spinner {
  width: 103px;
  height: 103px;
  background-image: url(/images/new_spinner.png);
  margin: 25px auto;
  -webkit-animation: rotateplane 1.2s infinite linear;
  animation: rotateplane 1.2s infinite linear;
}

@-webkit-keyframes rotateplane {
  0% { -webkit-transform: rotate(0deg) }
  100% { -webkit-transform: rotate(360deg) }
}
#ScreenPanel, #MainPanel {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

/* Elementos Petersen */
.navbtn {
    display: none;
}

.subtitle {
    display: none;
}

.navbar {
    display: none;
}

.version {
    width: 27%;
    height: 10%;
}

