<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="NBER_IPESB_PRODUCCION" value="172.28.0.135" />
    <add key="NBER_IPESB_LABORATORIO" value="10.20.100.77" />
    <add key="NBER_ConfigServer" value="http://[IPESB]:8280/services/GetTerminalConfig" />
    <add key="NBER_Update_Folder" value="\\SRV-SSS\TASTAG" />
    <add key="NBSC_IPESB_PRODUCCION" value="172.26.0.177" />
    <add key="NBSC_IPESB_LABORATORIO" value="192.168.172.130" />
    <add key="NBSC_ConfigServer" value="http://[IPESB]:8280/services/GetTerminalConfig" />
    <add key="NBSC_Update_Folder" value="\\DCBSCXX02\TASTAG" />
    <add key="NBSJ_IPESB_PRODUCCION" value="172.20.1.170" />
    <add key="NBSJ_IPESB_LABORATORIO" value="172.21.200.179" />
    <add key="NBSJ_ConfigServer" value="http://[IPESB]:8280/services/GetTerminalConfig" />
    <add key="NBSJ_Update_Folder" value="\\NTSXXXN\TASTAG" />
    <add key="NCR_IPESB_PRODUCCION" value="153.72.48.20" />
    <add key="NCR_IPESB_LABORATORIO" value="153.72.48.20" />
    <add key="NCR_ConfigServer" value="http://[IPESB]:8280/services/ConfigMock" />
    <add key="NCR_Update_Folder" value="\\153.72.48.20\share" />
    <add key="Terminal_Name" value="C:\TerminalName\TerminalName.bat"/>
  </appSettings>
</configuration>
