<!-- 
    Includes all components    
-->

<script>
    var screen_json = <%- JSON.stringify(locals) %>;
</script>

<% if(locals["title"]) {%>
	<% include title.html %>
<% } %>

<% if(locals["subtitle"]) {%>
	<% include petersen/subtitle.html %>
<% } %>

<% if(locals["sub_subtitle"]) {%>
    <% include sub_subtitle.html %>
<% } %>

<% if(locals["sub_subtitle_chico"]) {%>
    <% include sub_subtitle_chico.html %>
<% } %>

<% if(locals["sub_subtitle_intermedio"]) {%>
    <% include sub_subtitle_intermedio.html %>
<% } %>

<% if(locals["sub_subtitle_cheque"]) {%>
    <% include sub_subtitle_cheque.html %>
<% } %>

<% if(locals["message"]) {%>
	<% include message.html %>
<% } %>

<% if(locals["table_data"]) { %>
    <% include table_data.html %>
<% } %>

<% if(locals["messagecenter"]) {%>
	<% include messagecenter.html %>
<% } %>

<% if(locals["floating_message"]) {%>
	<% include floating_message.html %>
<% } %>

<% if(locals["video"]) {%>
	<% include video.html %>
<% } %>

<% if(locals["subvideo"]) {%>
	<% include subvideo.html %>
<% } %>

<% if(locals["imagen"]) {%>
	<% include imagen.html %>
<% } %>

<% if(locals["inputarea"]) {%>
	<% include inputarea.html %>
<% } %>

<% if(locals["input_fecha"]) {%>
	<% include input_fecha.html %>
<% } %>

<% if(locals["input_cmc7"]) {%>
	<% include input_cmc7.html %>
<% } %>

<% include petersen/navbar.html %>

<% if(locals["numkeyboard"]) {%>
	<% include numkeyboard.html %>
<% } %>

<% if(locals["numkeyboardNaranja"]) {%>
	<% include numkeyboardNaranja.html %>
<% } %>

<% if(locals["alphakeyboard"]) {%>
	<% include alphakeyboard.html %>
<% } %>

<% if(locals["select"]) {%>
	<% include select.html %>
<% } %>

<% if(locals["selectMenu"]) {%>
	<% include selectMenu.html %>
<% } %>

<% if(locals["selectAccount"]) {%>
	<% include selectAccount.html %>
<% } %>

<% if(locals["version"]) {%>
	<% include version.html %>
<% } %>

<% if(locals["cheques"]) {%>
	<% include cheques.html %>
<% } %>

<!-- Componentes Petersen -->

<% if(locals["nav"]) {%>
	<% include petersen/nav.html %>
<% } %>

