<!--
    Presents a 8 button selection panel. 

    Data:
        select[0-7].text: text to display in the button
        select[0-7].event: event fired when the button is pressed. select[0-7].text if not included.
        select[0-7].value: value stored when the button is pressed. uses event name if not included.

    FireEvents:
        Defined in data.

    ListenEvents:
        -
-->
<div class="select-container">
    <% if(select.select0) { %>
        <div class="selectbtn" id="select0"><span>select0</span></div>
    <% } %>

    <% if(select.select1) { %>
        <div class="selectbtn" id="select1">
            <span>select1</span>
        </div>
    <% } %>

    <% if(select.select2) { %>
        <div class="selectbtn" id="select2">
            <span>select2</span>
        </div>
    <% } %>

    <% if(select.select3) { %>
        <div class="selectbtn" id="select3">
            <span>select3</span>
        </div>
    <% } %>

    <% if(select.select4) { %>
        <div class="selectbtn" id="select4">
            <span>select4</span>
        </div>
    <% } %>

    <% if(select.select5) { %>
        <div class="selectbtn" id="select5">
            <span>select5</span>
        </div>
    <% } %>

    <% if(select.select6) { %>
        <div class="selectbtn" id="select6">
            <span>select6</span>
        </div>
    <% } %>

    <% if(select.select7) { %>
        <div class="selectbtn" id="select7">
            <span>select7</span>
        </div>
    <% } %>

    <% if(select.select8) { %>
        <div class="selectbtn" id="select8">
            <span>select8</span>
        </div>
    <% } %>

    <% if(select.select9) { %>
        <div class="selectbtn" id="select9">
            <span>select9</span>
        </div>
    <% } %>
</div>

<script>
    $(function () {

        var component_data = <%- JSON.stringify(select) %>;
        

        $.each(component_data, function(key, value) {
            var element = $("#"+key);
            element.click(function(evt) {
                SSFramework.playAudio('boton.wav');
                if(component_data[key].hasOwnProperty('value')) {
                    States.storeValue(component_data[key].value);                    
                }
                States.handleEvent(element)
            });
            $.each(component_data[key], function(subkey, value) {
                element.data(subkey, value);
                if(subkey=="text")
                    //element.html(value);
                    element.find("span").html(value);
            });
        });

    });
</script>
