<div class="select-cuentas-container">
<% if(selectAccount.select0) { %>
    <div class="selectbtn-cuenta" id="select0">
        <span>select0</span>
    </div>
<% } %>

<% if(selectAccount.select1) { %>
    <div class="selectbtn-cuenta" id="select1">
        <span>select1</span>
    </div>
<% } %>

<% if(selectAccount.select2) { %>
    <div class="selectbtn-cuenta" id="select2">
        <span>select2</span>
    </div>
<% } %>

<% if(selectAccount.select3) { %>
    <div class="selectbtn-cuenta" id="select3">
        <span>select3</span>
    </div>
<% } %>

<% if(selectAccount.select4) { %>
    <div class="selectbtn-cuenta" id="select4">
        <span>select4</span>
    </div>
<% } %>

<% if(selectAccount.select5) { %>
    <div class="selectbtn-cuenta" id="select5">
        <span>select5</span>
    </div>
<% } %>
</div>

<script>
   $(function () {
    var component_data = <%- JSON.stringify(selectAccount) %>;
    
    $.each(component_data, function(key, value) {
        var element = $("#" + key);

        element.click(function(evt) { 
            SSFramework.playAudio('boton.wav'); 
            if(component_data[key].hasOwnProperty('value')) {
                States.storeValue(component_data[key].value); 
            }
            
            States.handleEvent(element); 
        });

        
        $.each(component_data[key], function(subkey, value) {
            element.data(subkey, value);
            if(subkey == "text")
                element.find("span").html(value); 
        });
    });
});
</script>
