<script src="libs/jquery-1.11.1/jquery-1.11.1.min.js"></script>
<script src="libs/jstween-1.1/jstween-1.1.js"></script>
<script src="libs/misc/bluebird.js"></script>
<script src="libs/misc/NumberFormat154.js"></script>
<script src="libs/ejs/ejs.min.js"></script>

<script src="libs/xfsframework/tweenhelpers.js"></script>
<script src="libs/xfsframework/ssframework.js"></script>
<script src="libs/xfsframework/xfsdevices.js"></script>

<link rel="stylesheet" type="text/css" href="style/general.css" media="screen" />
<link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico" />

<script src="libs/user/userfuns.js"></script>
<link id="appstyle" rel="stylesheet" type="text/css" href="style/supervisor.css" media="screen" />
