<config>

  <profile id="default">
    <url>http://localhost:8080/?name=p/status_startofday</url>
    <error_url>www.google.com</error_url>
    <monitor>1</monitor>
  </profile>

  <profile id="petersen">
    <url>http://localhost:8080/?name=p/status_startofday</url>
    <error_url>http://localhost:8080/?name=p/status_startofday</error_url>
  </profile>

  <profile id="petersen_supervisor">
    <url>http://localhost:8080/?name=p/sup_ooservice</url>
    <error_url>http://localhost:8080/?name=p/sup_ooservice</error_url>
	<monitor>1</monitor>
  </profile>
  
</config>